<table  style="table-layout: fixed;background-color:#87A96B; border:solid;color:black;width:100%;">
        <tr>
            <th colspan=2; style="background-color: #3B444B;color:white;text-align:center;border:none;font-size:12pt;">
           Thème : Traitement des données
            </th>
        </tr>
</table>
<table  style="table-layout: fixed;background-color:#87A96B; border:solid;color:black;width:100%;">
        <tr >
            <th width="25%"; style="background-color: #3B444B;color:white;text-align:center;border:none;font-size:50pt;">
            21
            </th>
            <th  width="75%"; style="text-align:center;background-color:#99BADD;border:none;font-size:25pt;">Manipulation de fichiers CSV avec la bibliothèque Pandas - Villes et Pays</th>
        </tr>
</table>

## Base de données : les villes de plus de 500 habitants dans le monde

In [2]:
import pandas
info_villes=pandas.read_csv("data/villes_sup_500.csv")

In [3]:
info_villes

,geonameid_villes,nom_origine,nom_ville,latitude,longitude,iso,population_villes,altitude,timezone
0,3038999,Soldeu,Soldeu,42.57688,1.66769,AD,602,1832,Europe/Andorra
1,3039154,El Tarter,El Tarter,42.57952,1.65362,AD,1052,1721,Europe/Andorra
2,3039163,Sant Julià de Lòria,Sant Julia de Loria,42.46372,1.49129,AD,8022,921,Europe/Andorra
3,3039604,Pas de la Casa,Pas de la Casa,42.54277,1.73361,AD,2363,2106,Europe/Andorra
4,3039678,Ordino,Ordino,42.55623,1.53319,AD,3066,1296,Europe/Andorra
...,...,...,...,...,...,...,...,...,...
192522,895269,Beitbridge,Beitbridge,-22.21667,30.00000,ZW,26459,461,Africa/Harare
192523,895308,Beatrice,Beatrice,-18.25283,30.84730,ZW,1647,1307,Africa/Harare
192524,895417,Banket,Banket,-17.38333,30.40000,ZW,9641,1277,Africa/Harare
192525,1085510,Epworth,Epworth,-17.89000,31.14750,ZW,123250,1508,Africa/Harare
192526,1106542,Chitungwiza,Chitungwiza,-18.01274,31.07555,ZW,340360,1435,Africa/Harare

**&#x1F58B; A vous**  
Afficher les caractéristiques de la ville d'Issoire

**&#x1F58B; A vous**  
Ne faire afficher que le nom, l'altidude, la population et le code du pays.

**&#x1F58B; A vous**  
Faire de même avec votre ville (si elle dépasse les 500 habitants)

**&#x1F58B; A vous**  
Faire afficher toutes les villes qui ont une altidude supérieure à 4000 m et d'une population dépassant les 10 000 habitants. On donnera leurs noms, leur altitude, leur population ainsi que le code du pays.

**&#x1F58B; A vous**  
Écrire un programme permettant d’obtenir les villes et le nombre de villes dont la population est
supérieure à 10 millions d’habitants .

**&#x1F58B; A vous**   
Écrire un programme permettant d’obtenir les villes françaises dont la population est comprises entre 400 000
et 2 500 0000 d’habitants.

**&#x1F58B; A vous**   
Classer les villes françaises par ordre croissant de population

**&#x1F58B; A vous**  
Donner la population moyenne des villes par pays puis l'altitude max des villes par pays

## Base de données : les pays du monde

In [14]:
pays=pandas.read_csv("data/pays.csv",delimiter=";")

In [15]:
pays

,iso,iso3,pays,capital,surface,population_pays,continent,code_pays,monnaie,geonameid_pays,pays_voisins
0,AD,AND,Andorra,Andorra la Vella,468.0,84000,EU,EUR,Euro,3041565,"ES,FR"
1,AE,ARE,United Arab Emirates,Abu Dhabi,82880.0,4975593,AS,AED,Dirham,290557,"SA,OM"
2,AF,AFG,Afghanistan,Kabul,647500.0,29121286,AS,AFN,Afghani,1149361,"TM,CN,IR,TJ,PK,UZ"
3,AG,ATG,Antigua and Barbuda,St. John's,443.0,86754,NaN,XCD,Dollar,3576396,NaN
4,AI,AIA,Anguilla,The Valley,102.0,13254,NaN,XCD,Dollar,3573511,NaN
...,...,...,...,...,...,...,...,...,...,...,...
247,ZA,ZAF,South Africa,Pretoria,1219912.0,49000000,AF,ZAR,Rand,953987,"ZW,SZ,MZ,BW,NA,LS"
248,ZM,ZMB,Zambia,Lusaka,752614.0,13460305,AF,ZMW,Kwacha,895949,"ZW,TZ,MZ,CD,NA,MW,AO"
249,ZW,ZWE,Zimbabwe,Harare,390580.0,13061000,AF,ZWL,Dollar,878675,"ZA,MZ,BW,ZM"
250,CS,SCG,Serbia and Montenegro,Belgrade,102350.0,10829175,EU,RSD,Dinar,8505033,"AL,HU,MK,RO,HR,BA,BG"
251,AN,ANT,Netherlands Antilles,Willemstad,960.0,300000,NaN,ANG,Guilder,8505032,GP

**&#x1F58B; A vous**  
Donner les 10 pays les plus peuplés et les 10 moins peuplés

**&#x1F58B; A vous**   
Écrire un programme permettant de classer les pays par la population.

**&#x1F58B; A vous**  
Rajouter une colonne densité de population

In [18]:
pays

,iso,iso3,pays,capital,surface,population_pays,continent,code_pays,monnaie,geonameid_pays,pays_voisins,densite
0,AD,AND,Andorra,Andorra la Vella,468.0,84000,EU,EUR,Euro,3041565,"ES,FR",179.487179
1,AE,ARE,United Arab Emirates,Abu Dhabi,82880.0,4975593,AS,AED,Dirham,290557,"SA,OM",60.033699
2,AF,AFG,Afghanistan,Kabul,647500.0,29121286,AS,AFN,Afghani,1149361,"TM,CN,IR,TJ,PK,UZ",44.974959
3,AG,ATG,Antigua and Barbuda,St. John's,443.0,86754,NaN,XCD,Dollar,3576396,NaN,195.832957
4,AI,AIA,Anguilla,The Valley,102.0,13254,NaN,XCD,Dollar,3573511,NaN,129.941176
...,...,...,...,...,...,...,...,...,...,...,...,...
247,ZA,ZAF,South Africa,Pretoria,1219912.0,49000000,AF,ZAR,Rand,953987,"ZW,SZ,MZ,BW,NA,LS",40.166832
248,ZM,ZMB,Zambia,Lusaka,752614.0,13460305,AF,ZMW,Kwacha,895949,"ZW,TZ,MZ,CD,NA,MW,AO",17.884739
249,ZW,ZWE,Zimbabwe,Harare,390580.0,13061000,AF,ZWL,Dollar,878675,"ZA,MZ,BW,ZM",33.440012
250,CS,SCG,Serbia and Montenegro,Belgrade,102350.0,10829175,EU,RSD,Dinar,8505033,"AL,HU,MK,RO,HR,BA,BG",105.805325
251,AN,ANT,Netherlands Antilles,Willemstad,960.0,300000,NaN,ANG,Guilder,8505032,GP,312.500000

**&#x1F58B; A vous**  
Trier les pays par densité de population

## Fusion de deux bases de données

Les deux bases de données précéadentes peuvent être liées (fusionneés).

In [19]:
villes_court=info_villes[['nom_ville','population_villes','altitude','geonameid_villes','iso']]
pays_et_capital=pandas.merge(pays,villes_court,left_on=('capital','iso'),right_on=('nom_ville','iso'))
pays_et_capital.to_csv('pays_et_capital.csv', sep = ';')

In [20]:
pays_et_capital

,iso,iso3,pays,capital,surface,population_pays,continent,code_pays,monnaie,geonameid_pays,pays_voisins,densite,nom_ville,population_villes,altitude,geonameid_villes
0,AD,AND,Andorra,Andorra la Vella,468.0,84000,EU,EUR,Euro,3041565,"ES,FR",179.487179,Andorra la Vella,20430,1037,3041563
1,AE,ARE,United Arab Emirates,Abu Dhabi,82880.0,4975593,AS,AED,Dirham,290557,"SA,OM",60.033699,Abu Dhabi,603492,13,292968
2,AF,AFG,Afghanistan,Kabul,647500.0,29121286,AS,AFN,Afghani,1149361,"TM,CN,IR,TJ,PK,UZ",44.974959,Kabul,3043532,1798,1138958
3,AI,AIA,Anguilla,The Valley,102.0,13254,NaN,XCD,Dollar,3573511,NaN,129.941176,The Valley,2035,19,3573374
4,AL,ALB,Albania,Tirana,28748.0,2986952,EU,ALL,Lek,783754,"MK,GR,ME,RS,XK",103.901211,Tirana,374801,113,3183875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,YE,YEM,Yemen,Sanaa,527970.0,23495361,AS,YER,Rial,69543,"SA,OM",44.501318,Sanaa,1937451,2253,71137
249,YT,MYT,Mayotte,Mamoudzou,374.0,159042,AF,EUR,Euro,1024031,NaN,425.245989,Mamoudzou,54831,23,921815
250,ZA,ZAF,South Africa,Pretoria,1219912.0,49000000,AF,ZAR,Rand,953987,"ZW,SZ,MZ,BW,NA,LS",40.166832,Pretoria,1619438,1332,964137
251,ZM,ZMB,Zambia,Lusaka,752614.0,13460305,AF,ZMW,Kwacha,895949,"ZW,TZ,MZ,CD,NA,MW,AO",17.884739,Lusaka,1267440,1277,909137
252,ZW,ZWE,Zimbabwe,Harare,390580.0,13061000,AF,ZWL,Dollar,878675,"ZA,MZ,BW,ZM",33.440012,Harare,1542813,1494,890299

**&#x1F58B; A vous**  
Écrire un script permettant d’obtenir la liste de pays et capital du continent "OC".

**&#x1F58B; A vous**  
Afficher les pays voisins de la France

In [51]:

# A faire


#Ne pas modifier

L=L.to_dict()
L
liste=[]
for v in L.values():
    for i in range(0,len(v),3):
        liste.append(v[i:i+2])
print(liste)

for code in liste:
    print(pays.loc[pays['iso']==code,'pays'])

['CH']
['CH', 'DE']
['CH', 'DE', 'BE']
['CH', 'DE', 'BE', 'LU']
['CH', 'DE', 'BE', 'LU', 'IT']
['CH', 'DE', 'BE', 'LU', 'IT', 'AD']
['CH', 'DE', 'BE', 'LU', 'IT', 'AD', 'MC']
['CH', 'DE', 'BE', 'LU', 'IT', 'AD', 'MC', 'ES']
42    Switzerland
Name: pays, dtype: object
56    Germany
Name: pays, dtype: object
19    Belgium
Name: pays, dtype: object
134    Luxembourg
Name: pays, dtype: object
109    Italy
Name: pays, dtype: object
0    Andorra
Name: pays, dtype: object
138    Monaco
Name: pays, dtype: object
67    Spain
Name: pays, dtype: object

**&#x1F58B; A vous**  
A vous d’exploiter cette base pour vous entraîner.